@import "tailwindcss";
@import 'flowbite';
@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}
.active{
  background-color: #0e0801;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 5px 5px rgb(241, 193, 49);
}
body{
  background-color: #e7e1d5;
}
 .navbar {
  background-color: rgb(165, 106, 4);
}
.container {
  width: 90%;
}
.hero{
  background-attachment: fixed;
}
.cardCategory:hover .btn {
  transform: translateY(0);
  opacity: 1;
}
.btn{
  transform: translateY(200%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}
.loader:after{
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}
.loader:before{
  content: '';
  position: absolute;
  inset: -15px;
  margin: auto;
  background: #de3500;
  animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
  0%  ,10% {
    transform: translate(-64px , -64px) rotate(-45deg)
  }
  90% , 100% {
    transform: translate(0px , 0px) rotate(-45deg)
  }
}
.home {
  background: url('../src/assets/images/close-up-person-cutting-lace-with-knife-wooden-desk.jpg') no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 768px) {
  .home {
    background: url('/images/home-mobile.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}
.login{
  background: url('../src/assets/images/pin/Stitch\ a\ Gift\ on\ Instagram__\ _تفاصيل\ صغيرة\ نسجت….jpeg') no-repeat center center fixed;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
}
.register{
  background: url('../src/assets/images/pin/Stitch\ a\ Gift\ on\ Instagram__\ _تفاصيل\ صغيرة\ نسجت….jpeg') no-repeat center center fixed;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
}
.trash{
  transform: translateX(200%);
  opacity: 0;
  transition: all 0.3s ease-in ;
}
.li-trash:hover .trash{
  transform: translateX(0%);
  opacity: 1;
}